@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-primary-50: #EFF7E7;
  --color-primary-100: #627D45;
  --color-primary-300: #3B6429;
  --color-primary-500: #264B1D;
  --color-primary-700: #0D2E12;
  --color-primary-900: #0A1D0C;

  --color-status-success: #BFA931;
  --color-status-error: #8B1E1E;
  --color-status-info: #205072;
}

.headline1 {
  @apply text-[30px] leading-[140%] font-normal;
}

.headline2 {
  @apply text-[24px] leading-[140%] font-normal;
}

.headline3 {
  @apply text-[20px] leading-[140%] font-normal;
}

.headline4 {
  @apply text-[16px] leading-[140%] font-normal;
}

.body {
  @apply text-[16px] leading-[150%] font-normal;
}

.body-m {
  @apply text-[16px] leading-[150%] font-medium;
}

.body-sb {
  @apply text-[16px] leading-[150%] font-semibold;
}

.caption {
  @apply text-[14px] leading-[150%] font-normal;
}

.caption-m {
  @apply text-[14px] leading-[150%] font-medium;
}